In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [11]:
df = pd.read_csv('homeprices.csv')
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [17]:
%matplotlib inline
plt.scatter(df.area,df.price)

UsageError: Line magic function `%` not found.